/* #region root */

:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --animation: 250mc cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  /* outline: 1px solid red; */
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
.section {
  margin-bottom: 80px;
}
.section:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion root */

/* #region header*/
.header,
.container {
  padding-top: 20px;
  display: flex;
}
.menu-icon-svg {
  fill: #111;
}
.logo-link-part {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: var(--black);
}
.logo-link {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: var(--black);
}
.logo-links {
  display: inline-flex;
  align-items: center;
  margin-left: 32px;
  width: 40px;
}
.page-header.container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: none;
  /* display: flex; */
  flex-grow: 1;
  justify-content: ;
  gap: 24px;
}
.social-list {
  display: none;
  /* display: flex; */
  gap: 14px;
  margin-left: 90px;
}
.social-link {
  transition: color var(--animation), border var(--animation);
}

.social-link:hover,
.social-link:focus {
  border: 1px solid rgba(253, 146, 34, 0.1);
  color: var(--orange);
}

.social-img {
  fill: currentColor;
}
/* #endregion header*/

/* #region Hero */

.hero {
  padding-bottom: 80px;
}
.hero-container {
  background: rgba(17, 17, 17, 0.7);
  background-color: ;
  background-image: linear-gradient(rgba(17, 17, 17, 0.4))
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 380px;
  padding-bottom: 40px;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  /* width: 484px; */
  margin-bottom: 32px;
}
.btn-buy,
.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.btn-buy {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  border-radius: 100px;
  /* width: 144px; */
  height: 45px;
  margin-right: 14px;
}

.hero-link {
  border: 1px solid #fff;
  border-radius: 100px;
  width: 183px;
  height: 45px;
  display: inline-flex;
  padding-top: 14px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: 585px;
}
.hero-scroll:hover .hero-scroll-icon {
  background-color: var(--orange);
  color: var(--white);
}
.hero-scroll-icon svg {
  fill: currentColor;
}

.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active {
  background-color: var(--beige);
  color: #fd9222;
}
.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 14;
}

.hero-link:hover,
.hero-link:focus,
.hero-link:active,
.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}

.hero-scroll-icon {
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--violet);
}

.benefits-list {
  display: flex;
  gap: 88px;
}

.benefits-list-item {
  display: flex;
  /* width: calc((100% - 2 * 88px) / 3); */
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white);
  margin-bottom: 18px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.icon-wrapper {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
/* #endregion Benefits */

/* #region ingridients */
.ingridients {
  padding-top: 20px;
  padding-bottom: 50px;
}

.ing-list-item {
  display: flex;
  flex-wrap: wrap;
}
.title-ingridients {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;

  /* line-height: 28px; */
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
.taste-span {
  color: var(--orange);
}
.ing-list-item {
  border-radius: 15px;
}
.ing-list-item:nth-child(2n) {
  background-color: var(--white);
  border: 1px solid var(--orange);
  border-radius: 15px;
}
.ing-list-item:nth-child(4n + 1) {
  background: var(--orange);
  color: var(--white);
}
.ing-list-item:nth-child(4n + 3) {
  background: var(--violet);
  color: var(--white);
}
/* #endregion ingridients */

.made-img {
  width: fit-content;
}
